<div class="center">
  <p>お米代について</p>
    お米を食べる方: 500円を徴収します。<br/>
    その月にお米を殆ど食べない、または食べない予定の方:500円は払わなくて結構です。<br/>
    その場合、一回50円でお米を食べることができます。
</div>
<ul>
  <li><%= link_to "トップ", root_path %>
  <li><%= link_to "お米購入記録", rice_index_path %>
  <li><a href="http://ja.wikipedia.org/wiki/%E7%B1%B3" target="_blank">お米の歴史</a></li>
  <li><a href="#" onClick="alert('Coming soon...')">お米掲示板</a></li>
</ul>
